body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}   
nav{
    display:flex;
    flex-direction : row;
    align-items:center;
    justify-content: space-between;
}
#logo {
    color: orange;
    font-weight: 800;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:orange;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home img{
    width:200px;
    margin-top:12px;
}
#home button{
    width:100px;
    padding: 10px;
    color: white;
    background: orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#about {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


#skills {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#skill-articles {
    display: flex;
    justify-content: space-between;
}

article {
    flex-basis: 30%;
}


#contact {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

form section {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    color: white;
    background: orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
