        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --brand-color : #1480fc;
    --hover-color : #3684f8;
    --bg-color: #212529;
    --section-color : #282c30;
    --dim-color : rgb(179, 179, 179);
    --section-padding:0 40px;
}

/* --------------------General selectors----------- */
body{
    background-color: var(--bg-color);
    position: relative;
}
body a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style-type: none;
}
.active-link {
    border: 0.5px solid var(--brand-color);
    padding: 1px 5px;
    border-radius: 2px;
  }


/* --------------------Navigation Bar section----------- */
.navbar{
    background-color: var(--section-color);
    height: 80px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.527);
}
.navbar .logo a{
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
}
.navbar .logo a:hover{
    color:var(--brand-color);
    letter-spacing: 8px;
}
.navbar .nav-item ul{
    display: flex;
}
.navbar .nav-item ul li{
    margin-right: 18px;
}
.navbar .nav-item ul li a{
    color: var(--dim-color);
    transition: 0.3s ease;
}
.navbar .nav-item ul li a:hover, .navbar .nav-item ul li a:focus{
    color: var(--brand-color);
    transition: 0.3s ease;
}
i.menuIcon{
    color: var(--dim-color);
    font-size: 20px;
    display: none;
    cursor: pointer;
}
i.menuIcon:hover{
    color: var(--brand-color);
}




/* -----------Hero Section------------- */
.hero{
    width: 100%;
    height: 700px;
    display: flex;
    padding-top: 80px;
}
.hero .content{
    color: white;
}
.hero .left-side, .hero .right-side{
   width: 50%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero .left-side .helloTxt p span{
    padding: 3px 8px;
    background-color: var(--brand-color);
    color: white;
    border-radius: 5px;
    margin-right: 8px;
}
.hero .left-side .content .name{
    font-size: 100px;
    font-weight: 600;
}
.hero .left-side .content .profession h4{
    font-size: 50px;
    font-weight: 600;
    margin-top: -20px;
}
.hero .left-side .content .profession h4 span{
    color: var(--brand-color);
}
.hero .left-side .content .contentPara{
    margin-bottom: 40px;
    width: 438px;
    font-size: 15px;
}
.hero .left-side .content .contentPara p{
   font-weight: 300;
   font-weight: 200;
    line-height: 20px;  
}
.hero .left-side .content a{
    padding: 8px 15px;
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
    border-radius: 8px;
}
.hero .left-side .content a:hover{
   color: white;
   background-color: var(--brand-color);
   filter: drop-shadow(0px 0px 10px var(--brand-color));
}


/* -----Hero Right side---- */
.hero .right-side{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .right-side .circle{
    width: 700px;
    height: 700px;
    /* border-radius: 50%;
    background-color: var(--brand-color); */
    background: url(images/graph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
}
.hero .right-side .circle img{
    width: 400px;
    margin-top: 120px;
    filter: drop-shadow(1px 1px 10px var(--section-color)); 
}



/* -------------ABout Section----------------- */


#about{
    height: 100%;
    background-color: var(--section-color);
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about h1{
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}
#about h1 span,#about h5{
    color: var(--brand-color);
}
#about .aboutSection{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#about .aboutSection .leftPhoto{
    width: 40%;
    filter: drop-shadow(0px 8px  10px rgba(0, 0, 0, 0.205));
}

#about .aboutSection .leftPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#about .aboutSection .rightContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--dim-color);
    gap: 25px;
    width: 60%;
    padding: 0 30px;

}
#about .aboutSection .rightContent p{
    line-height: 20px;
    text-align: left;
    margin-top: 5px;
}

#about .aboutSection .rightContent a{
    padding: 8px 15px;
    width: 130px;
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
    border-radius: 8px;
}
#about .aboutSection .rightContent a:hover{
    color: white;
   background-color: var(--brand-color);
   filter: drop-shadow(0px 0px 10px var(--brand-color));
}
#about .aboutSection .leftPhoto img{
    width: 400px;
}
.tablink{
    padding: 5px 20px;
    background: none;
    color: var(--dim-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.tablink:active, .tablink:focus{
    background-color: var(--bg-color);
    border-radius: 5px;
    color: var(--brand-color);
    border-right: 1px solid var(--brand-color);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
   letter-spacing: 1px;
}
#education{
    width:100%;
    height: 75%;
}
#education i{
    margin-right: 10px;
}
 .tab-content{
margin-top: 30px;
background-color: var(--bg-color);
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}
#Education, #Experiences{
    display: none;
}
#Education{
    height: 200px;
    width: 100%;
}
.Graduation, .Credentials{
    margin-top: 20px;
}
:is(.postG, .Graduation, .Credentials) h3 {
    color: var(--brand-color);
}

.tab-section .heading{
    margin-top: 20px;
}
.tab-section .heading strong{
    color: var(--brand-color);
}



/* --------------------Project Section-------------------- */


#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 60px;
    height: 100%;

}
#projects h1{
    font-size: 40px;
    color: white;
    margin-top: 0px;
}
#projects p{
    font-size: 14px;
    color: var(--dim-color);
    text-align: center;
    margin-bottom: 40px;
}

#projects h1 span{
    color: var(--brand-color);
}
#projects .projectSection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}


#projects .projectSection .box .projectpic{
    height: 100%;
    background-color: aqua;
}
#projects .projectSection .box .projectpic .projectimg{
    width: 100%;
    height:100%;
}



#projects .projectSection .box {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: var(--dim-color);
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
}
#projects .projectSection .box:hover{
    filter: drop-shadow(0px 0px 5px var(--brand-color));
    border: 2px solid var(--brand-color);
}
#projects .projectSection .box .box-content {
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.918);
    width: 100%;
    height: auto;
    transform: translateY(60%);
}

#projects .projectSection .box:hover .box-content {
    transform: translateY(0);
    transition: transform 0.3s ease;
}
#projects .projectSection .box .box-content h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
#projects .projectSection .box:hover .box-content h3{
    color: white;
}

#projects .projectSection .box .box-content .hoverContent p{
    text-align: left;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
    
    
}
#projects .projectSection .box .box-content .hoverContent a {
    color: var(--brand-color);
    font-size: 12px;
    position: relative;
}

#projects .projectSection .box .box-content .hoverContent a::before {
    content: "";
    position: absolute;
    background-color: var(--brand-color);
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
    transform-origin: left;
}

#projects .projectSection .box .box-content .hoverContent a:hover::before {
    width: 100%;
    transform-origin: right;
    left: auto;
    right: 0;
}







/* ----------Skills Sections---------- */

#skills{
    background-color: var(--section-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 10px;
    height: 100%;
}
#skills h1{
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}
.spanTitle{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.spanTitle span:nth-child(2){
    font-size: 12px;
    margin-top: auto;
}
#skills h1 span{
    color: var(--brand-color);
}
.skillSection{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid var(--brand-color);
    border-radius: 5px;
    padding: 20px;
}
.skillSection .leftSection,.skillSection .rightSection{
    width: 50%;
    height: 100%;
    padding: 0 60px;
}
.skillSection .leftSection{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.skillSection .leftSection h2{
    color: var(--brand-color);
}
.skillSection .leftSection p{
    color:var(--dim-color);
    text-align: justify;
}

.skill {
    margin: 10px 0;
}
.skill-label {
    font-weight: 500;
    color:var(--dim-color);
}
.progress {
    height: 10px;
    background-color: var(--dim-color);
    border-radius: 5px;
    margin-top: 5px;
}
.progress-bar {
    height: 100%;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}

.color {
    background-color: var(--brand-color);
}



/* -----------Contact section---------- */
#contact{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 30px;
}
#contact h1{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}
#contact p{
    font-size: 14px;
    color: var(--dim-color);
    margin-bottom: 20px;
    text-align: center;
}
#contact h1 span{
    color: var(--brand-color);
}
.contact-form {
    width: 60%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--section-color);
}
.contact-form .nameInp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-form .nameInp .first,.contact-form .nameInp .last{
  width: 49%;
}
.contact-form label {
    display: block;
    margin-top: 20px;
    font-weight: 500;
    color: var(--dim-color);
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--dim-color);
    border-radius: 3px;
    background-color: var(--bg-color);
    outline: none;
    color: white;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color:var(--brand-color);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    letter-spacing: 2px;
    filter: drop-shadow(0px 0px 10px var(--brand-color));
}



/* --------------------footer section----------- */

#footer{
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: var(--section-color);
    display: flex;
    position: relative;
}
#footer .column{    
    width: 100%;
    height: 100%;
    margin-right: 30px;
}
#footer .column h1{
    color: var(--brand-color);
    font-size: 19px;
    margin-bottom: 20px;
}
#footer .info p{
   color: var( --dim-color);
   line-height: 20px;
   font-size: 13px;
}

#footer .info p:first-child{
   font-size: 15px;
   font-weight: 600;
}
#footer .info p span{
    font-style: italic;
}
#footer .links .navLink{
    width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
}
#footer .links .navLink a{
color: var(--dim-color);
font-size: 13px;
transition: 0.3s ease;
}
#footer .links .navLink a:hover{
color: var( --brand-color);
}

#footer .social .socilLink{
    width: 100%;
    height: 100%;
   display: flex;
}
#footer .social .socilLink a{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
 background-color: var(--bg-color);
 border-radius: 50%;
 margin-right: 10px;
 transition: 0.3s ease;
}
#footer .social .socilLink a:hover {
 background-color: var(--brand-color);
}

#footer .social .socilLink a i{
color: var(--dim-color);

}
.credits{
    margin-top: 60px;
}
.credits p{
    color: var(--dim-color);
    font-size: 10px;
    font-style: italic;
}

.goTop{
    position: absolute;
    top: -10px;
    right: 0px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: var(--brand-color);
}


/*------------------ChatBot-----------------------*/

.chatRobot{
    position: absolute;
    top: 100px;
    right: 35px;
    opacity: 0;
    transform: translateX(120%);
    transition:all 0.3s ease;
}
.chatRobot.activeChat{
    transform: translateX(0%);
    opacity: 1;
}
.fa-robot{
    position: absolute;
    right: 35px;
    top: 28px;
    font-size: 18px;
    border-radius: 50%;
    color: var(--dim-color);
    cursor: pointer;
}
.fa-robot:hover{
    color: var(--brand-color);
}

.chat-container {
    width: 500px;
    height: 550px;
    background-color: #282c30;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
::-webkit-scrollbar{
    display: none;
}


.chat-header {
    background-color: #212529;
    color: var(--brand-color);
    padding: 10px;
    text-align: center;
    position: relative;
}
.chatClose{
 position: absolute;
 top: 20px;
 right: 20px;
 color: var(--brand-color);
 font-size: 15px;
 cursor: pointer;
}
.chat-body {
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 70%;
}

.user-message {
    background-color: #212529;
    color: #fff;
    align-self: flex-start;
    width: 35%;
    margin-top: 15px;
    font-size: 14px;
    border-top-left-radius: 0;
}

.bot-message {
    background-color: var(--brand-color);
    color: #fff;
    /* align-self: end; */
    margin-left: auto;
    margin-top: 15px;
    font-size: 14px;
    border-top-right-radius: 0;
}

.chat-options {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    border-top:1px solid rgb(110, 110, 110);
}

.chat-container .button {
    width:25%;
    margin: 5px;
    background-color: #282c30;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.chat-container .button:hover {
    background-color: var(--hover-color);
}


.thinking-animation::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background-color:var(--brand-color);
    border-radius: 50%;
    animation: thinking 1s infinite;
}


@keyframes thinking {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@media(max-width:760px){
    .fa-robot{
        right: 95px;
        top: 29px;
    }
    .chatRobot {
        position: absolute;
        top: 0;
        right: 0;
    }
    .chat-container{
        width: 100%;
        height: 100vh;
        border: none;
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .chat-header {
    width: 100%;
    font-size: 15px;
   }
    .chat-options{
        width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    .chat-options button{
        font-size: 11px;
        padding: 10px;
        width: 150px;
    }
    .chat-body {
        height: 68%;
        width: 100%;
        margin-bottom: 16px;
    }
    .chat-container .button {
        font-size: 11px;
    }
    .bot-message, .user-message {
        font-size: 12px
    }
    
}












/* --------------Media Queries-------------- */


@media (max-width:760px){
    .navbar .nav-item ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 80px;
        left: 0;
        padding: 20px 0 20px 50px;
        justify-content: space-between;
        height: 200px;
        background-color: var(--section-color);
        width: 100%;
        transform: translateY(-100%);
        z-index: -1;
        opacity: 0;
        transition: 0.3s ease;
    }
    .navbar .nav-item ul.active{
        transform: translateY(0%);
        opacity: 1;
    }
    i.menuIcon{
        color: var(--dim-color);
        font-size: 20px;
        display: block;
    }
    .active-link {
        display: none;
    }



    .hero{
        flex-direction: column-reverse;
    height: 100%;
    align-items: center;
    margin-bottom: 44px;

    }
    .hero .left-side{
            width: 100%;
            height: 100%;
            padding: 0px 0 10px 10px;
            align-items: center;
            justify-content: center;
    }
    .hero .right-side{
        width: 100%;
        height: 100%;
        padding: 10px 0 10px 10px;
        align-items: center;
        justify-content: center;
}
    .hero .right-side .circle{
    
        width: 500px;
        height: 480px;
        display: flex;
        align-items: start;
        justify-content: center;
        
    }
    .hero .right-side .circle img{
        width: 339px;
        position: static;
        top: 10px;
        margin-top: 60px;
    }
    .content{
        text-align: center;
    }
    .hero .left-side .content .name {
        font-size: 65px;
        font-weight: 600;
    }
    .hero .left-side .content .profession h4 {
        font-size: 40px;
    }
    .hero .left-side .content .contentPara{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .hero .left-side .content .contentPara p {
        font-size: 14px;
        width: 350px;
        font-weight: 200;
        line-height: 17px;
    }
   
    #about {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    #about .aboutSection{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #about .aboutSection .leftPhoto {
        align-items: center;
        width: 100%;
    }
    #about .aboutSection .rightContent{
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    #about .aboutSection .leftPhoto img {
        width: 318px;
    }
    #about .aboutSection .rightContent p{
        font-size: 12.5px;
    }
    #about .aboutSection .rightContent a {
        padding: 3px 8px;
        width: 126px;
        color: var(--brand-color);
        border: 1px solid var(--brand-color);
        border-radius: 8px;
        font-size: 14px;
    }
    .tablink{
        font-size: 11px;
        padding: 2px 8px;
    }
    #about h5{
        text-align: left;
    }
    .tab-content {
        text-align: left;
        height: 100%;
    }
    .tab-content h3, strong,li{
        font-size: 12px;
    }




    #projects{
        padding: 20px;
    }
    #projects h1{
        margin-top: 30px;
    }
    #projects .projectSection{
        align-items: center;
    justify-content: center;
    gap: 30px;
    }
    #projects .projectSection .box{
        width: 340px;
        height: 250px;
    }



    



.skillSection{
    width: 100%;
    flex-direction: column;
    padding: 15px;
}
.skillSection .leftSection,.skillSection .rightSection{
    width: 100%;
    height: 100%;
    padding: 0 10px;   
}
.skillSection .leftSection{
    text-align: center;
    margin-bottom: 20px;
}
.skillSection .leftSection h2{
    color: var(--brand-color);
}
.skillSection .leftSection p{
    color:white;
}

.skill {
    margin: 30px 0;
}





#contact{
    padding: 70px 15px;
}
#contact h1{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}
#contact p{
    font-size: 14px;
    color: var(--dim-color);
    margin-bottom: 20px;
    text-align: center;
}
#contact h1 span{
    color: var(--brand-color);
}
.contact-form {
    width: 100%;
    padding: 10px;
}
.contact-form .nameInp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-form .nameInp .first,.contact-form .nameInp .last{
  width: 49%;
}
.contact-form label {
  font-size: 12px;
}
.contact-form input{
    height: 30px;
    padding: 15px;
}
.contact-form input::placeholder{
   font-size: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--dim-color);
    border-radius: 3px;
    background-color: var(--bg-color);
    outline: none;
    color: white;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color:var(--brand-color);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    letter-spacing: 2px;
    filter: drop-shadow(0px 0px 10px var(--brand-color));
}




#footer{
    flex-direction: column;   
}
#footer .column{    
    width: 100%;
    height: 100%;
    margin-right: 30px;
    margin-top: 30px;
}
#footer .column h1{
    color: var(--brand-color);
    font-size: 19px;
    margin-bottom: 10px;
}


}